body {
    background-image: url(./images/wallpapertip_hawaii-desktop-wallpaper_1758719.jpg);
    margin: auto;
    padding: 10px;
}
.container {
    width: 1000px;
    height: auto;
    padding: 5px;
    margin: auto;
}
.header-name {
    text-align: center;
    background-color: white;
    opacity: 85%;
    padding: 5px;
    border: solid black;
}
.nav-bar {
    background-color: white;
    opacity: 85%;
    border: solid 3px black;
    position: sticky;
    top: 0px;
    z-index: 1;

}
nav a {
    color: darkred;
    text-decoration: none;
}
nav li {
    display: inline-block;
    padding-top: 5px;
    padding-right: 75px;
    padding-left: 50px;
    font-size: larger;
}
li {
    list-style-type: none;
}
nav ul {
    list-style-type: none;
    text-align: center;
}
.me-picture img {
    width: 25%;
    height: auto;
    border: solid black;
    border-width: 3px;
}
.me-picture {
    display: flex;
    justify-content: center;
}
.about-me {
    padding: 20px;
    text-align: center;
    background-color: white;
    opacity: 85%;
    border: solid 3px black;
    border width: 3px;
}
.about-me h2 {
    text-align: center;
}
.my-projects {
    background-color: white;
    padding: 20px;
    border: solid 3px black;
    text-align: center;
    opacity: 85%;
}
.my-projects li {
    padding: 10px
}
.contact-me {
    background-color: white;
    padding: 20px;
    border: solid 3px black;
    text-align: center;
    opacity: 85%;
}