body {
    background-image: url(./images/wallpapertip_hawaii-desktop-wallpaper_1758719.jpg);
    margin: auto;
}
.headername {
    text-align: center;
    background-color: white;
    opacity: 75%;
    padding: 5px;
    border: solid black;
}
.navbar {
    height: auto;
}
nav {
    background-color: white;
    opacity: 75%;
    padding: 5px;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    position: sticky;
}
nav a {
    color: darkred;
}
nav li {
    display: inline;
    padding: 25px;
    font-size: larger;
}
li {
    list-style-type: none;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 15px;
}
.me-picture img {
    width: 15%;
    height: auto;
    border: solid black;
    border-width: 3px;
}
.me-picture {
    display: flex;
    justify-content: center;
}
.About-me {
    padding: 20px;
    text-align: center;
    background-color: white;
    opacity: 75%;
    border: solid black;
    border width: 3px;
}
.About-me h2 {
    text-align: center;
}
